---
title: House Minutes Application
layout: project-layout
---

<header>
  <h1>House Minutes Application</h1>
  <h2><%= lorem.sentences 2 %></h2>
  <p><%= lorem.sentences 4 %></p>
</header>

<div class="examples">
  <div class="explanation">
    <p><%= lorem.sentences 3 %></p>
  </div>
  <%= image_tag 'https://picsum.photos/500/350/?random' %>
</div><!-- end .examples -->


