---
title: Purchase Order Application
---

<header>
  <h1>Purchase Order Application</h1>
  <h2>Utilized by the Virginia House of Delegates Support Services to manage vendors and purchases.</h2>
  <p>This application was an update of an older system created with Microsoft Sharepoint.  
  The new version is built with Ruby on Rails, Bootstrap, vanilla JavaScript where possible and a bit of 
  jQuery sprinkled throughout.</p>
</header>

<div class="examples">
  <div class="explanation po-form">
    <h3>Purchase Order Form</h3>
    <p>The primary users of the application were very involved in the design of the form.  It is an updated version 
  of a Sharepoint form that was created years ago and the user did not want to stray too far from the original design.  
  The header of the page needed to remain very similar to the original as did other elements of the page, but fonts and 
  other design elements were changed to give a more updated feel.  The main highlights would be the custom JavaScript 
  typeahead written to fuzzy search vendor names and the dynamic order area.</p>
  </div>
  <div class="image"><%= image_tag 'po-form-new.png' %></div>

  <div class="explanation po-typeahead">
    <h3>Custom Built Typeahead</h3>
    <p>Because the PO app contains sensitive information and actual vendor data is stored in the database, 
    the Codepen to the right shows a demo of the same typeahead using almost the same code used in the app with 
    data from an anime API. As with the widget in the app, you can use the up and down arrow keys to navigate the list
    of results and press the Enter key to select one.  Alternatively you can use the mouse to scroll and select.</p>
  </div>
  <div class="image">
    <p data-height="500" data-theme-id="light" data-slug-hash="KBQJpP" data-default-tab="result" data-user="she_codes" data-pen-title="vanilla js typeahead" class="codepen">See the Pen <a href="https://codepen.io/she_codes/pen/KBQJpP/">vanilla js typeahead</a> by Nikia Shaw (<a href="https://codepen.io/she_codes">@she_codes</a>) on <a href="https://codepen.io">CodePen</a>.</p>
  <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
  </div>

  <div class="explanation po-adding-deleting-items">
    <h3>Adding and Deleting Items</h3>
    <p>When 'Add Item' is clicked, a new row is added to the actual 'Purchase Order' section of the form.  As numbers are added to the 'Qty' and 'Unit Cost' inputs, row totals,
     as well as a grand total, are calculated using JavaScript.  An item can easily be deleted using the red trash can 
     to the right.  Item is actually a nested Rails model that is being handled within the Purchase Order form with the help of JavaScript.</p>
  </div>
  <div class="image"><%= image_tag 'po-adding-deleting-items.gif' %></div>
</div><!-- end .examples -->


