---
title: Project Details
---

<h1>Project Details</h1>
<h2>Project highlights from my work with the Virginia House of Delegates</h2>

<ul>
  <li>
    <h3>House Minutes Application</h3>
    <p><%= lorem.sentences 2 %><p>
    <a href="#" class="read-more-link">Read More</a>
  </li>
  <li>
    <h3>IHOD</h3>
    <p><%= lorem.sentences 2 %><p>
  </li>
</ul>
