---
title: Project Details
---


<h1>Project Details</h1>
<h2>Project highlights from my work with the Virginia House of Delegates</h2>

<ul>
  <li>
    <h3>House Minutes Application</h3>
    <p>The application used by the Virginia House of Delegates to record the journal day of a legislative session.</p>
    <a href="projects/hod-minutes-app.html" class="read-more-link">Read More</a>
  </li>
  <li>
    <h3>IHOD</h3>
    <p>Virginia House of Delegates interactive legislation tracking application.  Optimized specifically for use on iPads and desktop.</p>
    <a href="projects/ihod-app.html" class="read-more-link">Read More</a>
  </li>
  <li>
    <h3>IHOD Redesign</h3>
    <p>A quick peek at the currently in progress redesign of the IHOD application.</p>
    <a href="projects/ihod-redesign.html" class="read-more-link">Read More</a>
  </li>
  <li>
    <h3>PO</h3>
    <p>The Virginia House of Delegates' purchase order management application which manages and tracks vendors and the products and services purchased from them.</p>
    <a href="projects/po-app.html" class="read-more-link">Read More</a>
  </li>
  <li>
    <h3>Other Applications</h3>
    <p>A brief look at other applications that I've worked on during my time at the Virginia House of Delegates including The Page Program, Member Bios, and Wage Pay.</p>
    <a href="projects/other-projects.html" class="read-more-link">Read More</a>
  </li>
</ul>
